{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.gotinder.com/v2/meta",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "App-Version": [
            "6.9.4"
          ],
          "Platform": [
            "ios"
          ],
          "Content-type": [
            "application/json"
          ],
          "X-auth-token": [
            "12a3bc45-a123-123a-1a23-1234abc4de5f"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {},
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"meta\": {\n    \"status\": 200\n  },\n  \"data\": {\n    \"client_resources\": {\n      \"rate_card\": {\n        \"carousel\": [\n          {\n            \"slug\": \"boost\"\n          },\n          {\n            \"slug\": \"unlimited_likes\"\n          },\n          {\n            \"slug\": \"super_like\"\n          },\n          {\n            \"slug\": \"no_ads\"\n          },\n          {\n            \"slug\": \"undo\"\n          },\n          {\n            \"slug\": \"passport\"\n          },\n          {\n            \"slug\": \"who_sees_you\"\n          },\n          {\n            \"slug\": \"your_profile\"\n          }\n        ]\n      },\n      \"plus_screen\": []\n    },\n    \"account\": {\n      \"fireboarding\": true,\n      \"email_prompt_show_strict_opt_in\": false,\n      \"email_prompt_show_marketing_opt_in\": true,\n      \"email_prompt_required\": true,\n      \"email_prompt_dismissible\": false\n    },\n    \"sexual_orientations\": {\n      \"enabled\": true,\n      \"excluded_orientations\": [\n        \"gay\",\n        \"str\",\n        \"les\"\n      ],\n      \"orientations\": [\n        {\n          \"id\": \"str\",\n          \"name\": \"Straight\"\n        },\n        {\n          \"id\": \"gay\",\n          \"name\": \"Gay\"\n        },\n        {\n          \"id\": \"les\",\n          \"name\": \"Lesbian\"\n        },\n        {\n          \"id\": \"bi\",\n          \"name\": \"Bisexual\"\n        },\n        {\n          \"id\": \"asex\",\n          \"name\": \"Asexual\"\n        },\n        {\n          \"id\": \"demi\",\n          \"name\": \"Demisexual\"\n        },\n        {\n          \"id\": \"pan\",\n          \"name\": \"Pansexual\"\n        },\n        {\n          \"id\": \"qur\",\n          \"name\": \"Queer\"\n        },\n        {\n          \"id\": \"ques\",\n          \"name\": \"Questioning\"\n        }\n      ],\n      \"is_pride_flame_enabled\": false\n    },\n    \"credit_card\": {\n      \"variant\": 2,\n      \"price_tos_on_top\": false\n    },\n    \"boost\": {\n      \"enabled\": false,\n      \"duration\": 1800000,\n      \"intro_multiplier\": 10,\n      \"use_new_copy\": false\n    },\n    \"super_boost\": {\n      \"enabled\": false,\n      \"duration\": 10800000,\n      \"intro_multiplier\": 100,\n      \"peak_hours_start_h\": 17,\n      \"peak_hours_start_m\": 0,\n      \"peak_hours_duration\": 18000000,\n      \"variant\": 0,\n      \"members_only_text\": \"Gold and Plus Members only.\",\n      \"p1\": false,\n      \"entry_gold_home\": false,\n      \"entry_upgrade\": false\n    },\n    \"readreceipts\": {\n      \"enabled\": false\n    },\n    \"fast_match\": {\n      \"enabled\": true,\n      \"preview_minimum_time\": 180000,\n      \"notif_options\": [\n        0,\n        1,\n        3,\n        10\n      ],\n      \"notif_defaults\": 1,\n      \"new_count_fetch_interval\": 10000,\n      \"boost_new_count_fetch_interval\": 2000,\n      \"new_count_threshold\": 99,\n      \"polling_mode\": 1,\n      \"entry_point\": true,\n      \"controlla_optimization\": false,\n      \"use_teaser_endpoint\": true\n    },\n    \"gold_homepage\": {\n      \"enabled\": false\n    },\n    \"top_picks\": {\n      \"enabled\": true,\n      \"local_daily_enabled\": true,\n      \"local_daily_msg\": \"Your daily Top Picks are ready. 💎 Tap to view.\",\n      \"local_daily_offsets\": {\n        \"offset0\": -1,\n        \"offset1\": 31122340,\n        \"offset2\": 45522340,\n        \"offset3\": 63522340\n      },\n      \"free_daily\": true,\n      \"num_free_rated_limit\": 1,\n      \"refresh_interval\": 86400000,\n      \"lookahead\": 7,\n      \"post_swipe_paywall\": false\n    },\n    \"intro_pricing\": {\n      \"enabled\": true\n    },\n    \"paywall\": {\n      \"full_price\": true,\n      \"e1\": true,\n      \"e2\": false,\n      \"bouncer_avatar\": true,\n      \"pbls\": false,\n      \"show_likes_count_in_bouncer\": false,\n      \"e3\": 2,\n      \"e4\": 2\n    },\n    \"merchandising\": {\n      \"gold_v1_enabled\": false,\n      \"gold_v2_enabled\": false,\n      \"gamepad_counter_variant\": \"control\"\n    },\n    \"purchase\": {\n      \"new_google_purchase\": false,\n      \"new_cc_purchase\": false\n    },\n    \"recs\": {\n      \"card_replay\": false\n    },\n    \"tinder_plus\": {\n      \"enabled\": true,\n      \"discount\": true\n    },\n    \"subscription\": {\n      \"renewal_banner_title\": \"Your subscription is about to expire!\",\n      \"renewal_banner_gold_body\": \"Tap to continue experiencing Gold\",\n      \"renewal_banner_plus_body\": \"Tap to continue experiencing Plus\"\n    },\n    \"super_like\": {\n      \"enabled\": true,\n      \"alc_mode\": 1\n    },\n    \"profile\": {\n      \"can_edit_jobs\": true,\n      \"can_edit_schools\": true,\n      \"can_edit_email\": true,\n      \"can_add_photos_from_facebook\": false,\n      \"can_show_common_connections\": false,\n      \"school_name_max_length\": 128,\n      \"job_title_max_length\": 128,\n      \"company_name_max_length\": 128\n    },\n    \"select\": {\n      \"enabled\": false,\n      \"recs_enabled\": false,\n      \"invited\": false\n    },\n    \"feedback\": {\n      \"rate_app\": true\n    },\n    \"typing_indicator\": {\n      \"typing_heartbeat\": 2000,\n      \"typing_ttl\": 5000\n    },\n    \"places\": {\n      \"available\": false,\n      \"places_ui\": \"list\"\n    },\n    \"terms_of_service\": {\n      \"enabled\": false\n    },\n    \"swipe_surge\": {\n      \"enabled\": true,\n      \"in_swipe_surge\": false\n    },\n    \"traveling\": {},\n    \"crm_inbox\": {\n      \"enabled\": true\n    },\n    \"background_location\": {\n      \"enabled\": false\n    },\n    \"levers\": {\n      \"ads.cadence\": {\n        \"p_id\": \"\",\n        \"value\": 20\n      },\n      \"ads.messages_between_sponsored_message\": {\n        \"p_id\": \"\",\n        \"value\": 0\n      },\n      \"session.in_app_rating_consecutive_login_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"ads.sponsored_message_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"experiences.theme_id\": {\n        \"p_id\": \"\",\n        \"value\": \"\"\n      },\n      \"identity.emailcollection_autofill_enabled\": {\n        \"p_id\": \"cccccccccccccccccccccccccccccccc\",\n        \"value\": false\n      },\n      \"purchases.checkout_form_variation_enabled\": {\n        \"p_id\": \"44444444444444444444444444444444\",\n        \"value\": false\n      },\n      \"profile.n_media_enabled\": {\n        \"p_id\": \"22222222222222222222222222222222\",\n        \"value\": false\n      },\n      \"chat.vinyl_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"superlike.body_copy_variant\": {\n        \"p_id\": \"22222222222222222222222222222222\",\n        \"value\": 2\n      },\n      \"chat.is_dm_analytics_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"chat.vinyl_message_display_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"trust.selfie_verification_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"subscription.has_subscription\": {\n        \"p_id\": \"22222222222222222222222222222222\",\n        \"value\": true\n      },\n      \"app.reporting_v3_variant\": {\n        \"p_id\": \"\",\n        \"value\": 0\n      },\n      \"subscription.renewal_banner_duration\": {\n        \"p_id\": \"\",\n        \"value\": 0\n      },\n      \"stories.is_snapchat_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"recs.is_tappy_autoadvancing\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"recs.is_merge_rec_like_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"profile.client_side_account_reset_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"recs.tappy_v2_5_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"swipe_surge.live_count_available\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"purchases.credit_card_launcher_v2_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"reporting.reporting_v3_variant\": {\n        \"p_id\": \"\",\n        \"value\": 0\n      },\n      \"feed.reactions_v2\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"subscription.renewal_banner_threshold\": {\n        \"p_id\": \"\",\n        \"value\": 0\n      },\n      \"spotify.is_enabled\": {\n        \"p_id\": \"22222222222222222222222222222222\",\n        \"value\": true\n      },\n      \"purchases.discounting_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"reporting.reporting_v3_feed_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"chat.contact_card_message_display_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"top_picks.local_daily_offset\": {\n        \"p_id\": \"\",\n        \"value\": \"offset2\"\n      },\n      \"app.phoenix_test_lever\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"swipe_surge.is_swipe_surge_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"profile.server_provided_media_ids_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"onboarding.bio_variant\": {\n        \"p_id\": \"\",\n        \"value\": 0\n      },\n      \"session.in_app_rating_consecutive_login_variant\": {\n        \"p_id\": \"\",\n        \"value\": 0\n      },\n      \"reporting.reporting_v3_chat_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"matches.new_matches_portrait_size_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"ads.deep_link_ads_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"identity.email_collection_prompt\": {\n        \"p_id\": \"22222222222222222222222222222222\",\n        \"value\": true\n      },\n      \"media.min_duration_to_retain_after_discard\": {\n        \"p_id\": \"\",\n        \"value\": 1000\n      },\n      \"superlike.cta_copy_variant\": {\n        \"p_id\": \"22222222222222222222222222222222\",\n        \"value\": 0\n      },\n      \"recs.is_settings_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"chat.is_typing_indicator_morph_animation_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"profile.n_media_number\": {\n        \"p_id\": \"\",\n        \"value\": 18\n      },\n      \"recs.is_v1_analytics_deprecated\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"chat.is_typing_indicator_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"app.is_analytics_gzip_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"swipe_surge.theme_id\": {\n        \"p_id\": \"\",\n        \"value\": \"\"\n      },\n      \"feed.feed_reactions_v2\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"ads.google_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"experiences.is_profile_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"tinder_u.verification_method\": {\n        \"p_id\": \"\",\n        \"value\": \"email\"\n      },\n      \"recs.is_analytics_v2_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"ads.unified_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"chat.composeflow_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"profile.custom_gender_available\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"superlike.is_superlikeable_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"likes_you.is_polling_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"matches.is_yammer_recommended_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"chat.compose_dm_tooltip_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"chat.contact_card_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"ads.fan_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"paywall.localized_boost_text_index\": {\n        \"p_id\": \"\",\n        \"value\": 0\n      },\n      \"app.reporting_v3_feed_enabled\": {\n        \"p_id\": \"22222222222222222222222222222222\",\n        \"value\": false\n      },\n      \"profile.custom_gender_country_key\": {\n        \"p_id\": \"\",\n        \"value\": \"USA\"\n      },\n      \"experiences.is_full_updates_paused\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"boost.super_boost_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"app.is_notification_service_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"media.min_buffer_duration_to_start\": {\n        \"p_id\": \"\",\n        \"value\": 2000\n      },\n      \"paywall.localized_boost_region\": {\n        \"p_id\": \"\",\n        \"value\": \"\"\n      },\n      \"media.bandwidth_fraction\": {\n        \"p_id\": \"\",\n        \"value\": 0.75\n      },\n      \"onboarding.tinder_rules_on\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"session.in_app_rating_consecutive_login_days\": {\n        \"p_id\": \"\",\n        \"value\": 7\n      },\n      \"recs.tappy_autoadvance_seconds\": {\n        \"p_id\": \"\",\n        \"value\": 5\n      },\n      \"recs.is_new_user_badge_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"experiences.is_video_error_overlay_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"app.test_account_reset_targeting\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"chat.giphy_pingback_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"is_yammer_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"chat.message_reporting_message_count\": {\n        \"p_id\": \"\",\n        \"value\": 3\n      },\n      \"experiences.is_live_count_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"chat.message_reporting_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"experiences.story_id\": {\n        \"p_id\": \"\",\n        \"value\": \"\"\n      },\n      \"matches.cell_style\": {\n        \"p_id\": \"\",\n        \"value\": 0\n      },\n      \"feed.feed_first\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"feed.reactions_set\": {\n        \"p_id\": \"\",\n        \"value\": 1\n      },\n      \"chat.message_reporting_prompt_count\": {\n        \"p_id\": \"\",\n        \"value\": 10\n      },\n      \"media.min_time_buffer_reevaluation\": {\n        \"p_id\": \"\",\n        \"value\": 3000\n      },\n      \"recs.replay_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"ads.days_between_sponsored_message\": {\n        \"p_id\": \"\",\n        \"value\": 0\n      },\n      \"experiences.start_time_local\": {\n        \"p_id\": \"\",\n        \"value\": \"\"\n      },\n      \"recs.gamepad_vertical\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"subscription.is_renewal_banner_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"bitmoji.bitmoji_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"ads.fan_placement_id\": {\n        \"p_id\": \"\",\n        \"value\": \"22222222222222222222222222222222\"\n      },\n      \"feed.is_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"reporting.reporting_v3_match_list_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"session.themes_available\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"media.max_duration_quality_decrease\": {\n        \"p_id\": \"\",\n        \"value\": 3000\n      },\n      \"recs.tags_max_lines\": {\n        \"p_id\": \"\",\n        \"value\": 1\n      },\n      \"chat.gif_trending_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"chat.tenor_gif_provider_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"profile.share_v2_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"media.min_duration_quality_increase\": {\n        \"p_id\": \"\",\n        \"value\": 3000\n      },\n      \"subscription.renewal_banner_frequency\": {\n        \"p_id\": \"\",\n        \"value\": 0\n      },\n      \"recs.recs_cache_duration_hours\": {\n        \"p_id\": \"\",\n        \"value\": 48\n      },\n      \"matches.is_yammer_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"recs.replay_max_results\": {\n        \"p_id\": \"\",\n        \"value\": \"8f8f8f8\"\n      },\n      \"matches.rewrite_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"chat.icebreaker_region\": {\n        \"p_id\": \"\",\n        \"value\": \"\"\n      },\n      \"chat.is_analytics_v2_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"onboarding.is_bio_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"experiences.end_time_local\": {\n        \"p_id\": \"\",\n        \"value\": \"\"\n      },\n      \"recs.is_v2_analytics_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"ads.promo_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      },\n      \"ads.inmobi_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"session.is_paginated_updates_enabled\": {\n        \"p_id\": \"\",\n        \"value\": false\n      },\n      \"ads.secondary_cadence\": {\n        \"p_id\": \"\",\n        \"value\": 30\n      },\n      \"experiences.available_timezones\": {\n        \"p_id\": \"\",\n        \"value\": \"\"\n      },\n      \"ads.nvs_video_tap_enabled\": {\n        \"p_id\": \"\",\n        \"value\": true\n      }\n    }\n  }\n}\n"
        },
      },
      "recorded_at": "Tue, 12 Nov 2019 03:22:33 GMT"
    }
  ],
  "recorded_with": "VCR 5.0.0"
}