{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.gotinder.com/v2/profile?include=account%2Cboost%2Cemail_settings%2Cinstagram%2Clikes%2Cnotifications%2Cplus_control%2Cproducts%2Cpurchase%2Cspotify%2Csuper_likes%2Ctinder_u%2Ctravel%2Ctutorials%2Cuser",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "App-Version": [
            "6.9.4"
          ],
          "Platform": [
            "ios"
          ],
          "Content-type": [
            "application/json"
          ],
          "X-auth-token": [
            "12a3bc45-a123-123a-1a23-1234abc4de5f"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {},
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"meta\": {\n    \"status\": 200\n  },\n  \"data\": {\n    \"account\": {\n      \"is_email_verified\": true,\n      \"account_email\": \"fake@fake.com\",\n      \"account_phone_number\": \"11234567890\"\n    },\n    \"boost\": {\n      \"duration\": 1800000,\n      \"allotment\": 1,\n      \"allotment_used\": 0,\n      \"allotment_remaining\": 1,\n      \"internal_remaining\": 0,\n      \"purchased_remaining\": 0,\n      \"remaining\": 1,\n      \"super_boost_purchased_remaining\": 0,\n      \"boost_refresh_amount\": 1,\n      \"boost_refresh_interval\": 1,\n      \"boost_refresh_interval_unit\": \"m\",\n      \"purchases\": [\n        \"5d036f66286ca71500181440\"\n      ]\n    },\n    \"email_settings\": {\n      \"email\": \"fake@fake.com\",\n      \"email_settings\": {\n        \"promotions\": true,\n        \"messages\": true,\n        \"new_matches\": true\n      }\n    },\n    \"instagram\": {\n      \"username\": \"patrickclery\",\n      \"profile_picture\": \"https://scontent.cdninstagram.com/vp/75445049c811b5bab3f132893bc45c9d/5D81FC60/t51.2885-19/s150x150/58751646_435301133870528_7476992829122674688_n.jpg?_nc_ht=scontent.cdninstagram.com\",\n      \"media_count\": 9,\n      \"last_fetch_time\": \"2019-06-17T16:54:52.534Z\",\n      \"completed_initial_fetch\": true,\n      \"photos\": [\n        {\n          \"ts\": \"1560745981\",\n          \"thumbnail\": \"https://scontent.cdninstagram.com/vp/a3a57b561736657a4bebe78a1d4b3aba/5DA5ED18/t51.2885-15/e35/s150x150/61707967_2493976820852851_7662594048615037123_n.jpg?_nc_ht=scontent.cdninstagram.com\",\n          \"image\": \"https://scontent.cdninstagram.com/vp/cb05ca00e99571ee3b9c49cca3e607a9/5D882A9D/t51.2885-15/sh0.08/e35/s640x640/61707967_2493976820852851_7662594048615037123_n.jpg?_nc_ht=scontent.cdninstagram.com\"\n        },\n        {\n          \"ts\": \"1560658650\",\n          \"thumbnail\": \"https://scontent.cdninstagram.com/vp/d393353b45b5d002a31ab92f38f87916/5DC2FE99/t51.2885-15/e35/s150x150/64220137_1278853658936087_8655172372861911859_n.jpg?_nc_ht=scontent.cdninstagram.com\",\n          \"image\":[...]
