{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.gotinder.com/v2/auth/sms/send?auth_type=sms",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"phone_number\":\"1234567890\"}"
        },
        "headers": {
          "App-Version": [
            "6.9.4"
          ],
          "Platform": [
            "ios"
          ],
          "Content-type": [
            "application/json"
          ],
          "X-auth-token": []
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {},
        "body": {
          "encoding": "UTF-8",
          "string": "{\"meta\":{\"status\":200},\"data\":{\"otp_length\":6,\"sms_sent\":true}}"
        },
      },
      "recorded_at": "Tue, 12 Nov 2019 03:22:33 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://api.gotinder.com/v2/auth/sms/validate?auth_type=sms",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"otp_code\":\"123456\",\"phone_number\":\"1234567890\",\"is_update\":false}"
        },
        "headers": {
          "App-Version": [
            "6.9.4"
          ],
          "Platform": [
            "ios"
          ],
          "Content-type": [
            "application/json"
          ],
          "X-auth-token": []
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {},
        "body": {
          "encoding": "UTF-8",
          "string": "{\"meta\":{\"status\":200},\"data\":{\"refresh_token\":\"xxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"validated\":true}}"
        },
      },
      "recorded_at": "Tue, 12 Nov 2019 03:22:33 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://api.gotinder.com/v2/auth/login/sms",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"refresh_token\":\"xxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"phone_number\":\"1234567890\"}"
        },
        "headers": {
          "App-Version": [
            "6.9.4"
          ],
          "Platform": [
            "ios"
          ],
          "Content-type": [
            "application/json"
          ],
          "X-auth-token": []
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {},
        "body": {
          "encoding": "UTF-8",
          "string": "{\"meta\":{\"status\":200},\"data\":{\"_id\":\"1a234a56123ab12345123456\",\"api_token\":\"12a3bc45-a123-123a-1a23-1234abc4de5f\",\"refresh_token\":\"xxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\"is_new_user\":false}}"
        },
      },
      "recorded_at": "Tue, 12 Nov 2019 03:22:33 GMT"
    }
  ],
  "recorded_with": "VCR 5.0.0"
}