{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.gotinder.com/v2/recs/core",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "App-Version": [
            "6.9.4"
          ],
          "Platform": [
            "ios"
          ],
          "Content-type": [
            "application/json"
          ],
          "X-auth-token": []
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {},
        "body": {
          "encoding": "UTF-8",
          "string": "{\"meta\":{\"status\":429},\"error\":{\"message\":\"RATE_LIMITED\",\"code\":42901}}"
        },
      },
      "recorded_at": "Tue, 12 Nov 2019 03:22:33 GMT"
    }
  ],
  "recorded_with": "VCR 5.0.0"
}